@import "tailwindcss";
@import "@heroui/styles";

:root {
    --font-exo2: "Exo 2";
}

/*@custom-variant dark (&:is(.dark *));*/

@theme {
    --color-body: #000000;
    --color-white: #FFFFFF;
    --color-subtitle: #E0E0E0;
    --color-container: #090a0b;
    --color-container-elevated: #111213;
    --color-container-muted: #27292a;
    --font-exo: var(--font-exo2), sans-serif;
    --max-width-8xl: 1440px;
}

@layer components {
    .button {
        @apply font-semibold data-[pending=true]:opacity-40 font-exo px-6 py-5;
    }
    .button--primary{
        @apply text-black bg-white hover:bg-white/90;
    }
}

@layer utilities {
    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}
